# Don’t commit the following directories created by pub.
.buildlog
.pub/
.dart_tool/
.idea/
build/
.packages
coverage/

# Or the files created by dart2js.
*.dart.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
# Omit committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock